.details {
  margin: 1em;
}

.details__title {
  font-weight: bold;
  color: #4298f5;
}

.details__header {
  font-weight: bolder;
  text-decoration-line: underline;
  margin-top: 0.5em;
  padding: 0.5em;
}
.details__img {
  max-width: 90vw;
  min-width: 50vw;
}

.details__paperAbstract {
  padding: 1em;
}
